@font-face {
    font-family: LibreFranklin;
    src: url('/fonts/LibreFranklin.ttf')
}

@font-face {
    font-family: LibreFranklin-Italic;
    src: url('/fonts/LibreFranklin-Italic.ttf')
}

@font-face {
    font-family: LibreBaskerville;
    src: url('/fonts/LibreBaskerville.ttf')
}

@font-face {
    font-family: LibreBaskerville-Italic;
    src: url('/fonts/LibreBaskerville-Italic.ttf')
}

@font-face {
    font-family: LibreBaskerville-Bold;
    src: url('/fonts/LibreBaskerville-Bold.ttf')
}

@font-face {
    font-family: DancingScript;
    src: url('/fonts/DancingScript.ttf')
}

@font-face {
    font-family: SpaceMono;
    src: url('/fonts/SpaceMono.ttf')
}

body {
    background-image: url(/img/wnoise.gif);
    text-align: center;
    color: #9eb3c2;
    font-family: LibreBaskerville;
    height: 100%;
    margin: 0;
    cursor: url(img/cursor.png), auto;
    //opacity: 0.3;
}

::-webkit-scrollbar {
width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
background: #04050d;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #3c6c83;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #1697c8;
}

.background {
    background-color: #0e1229;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    z-index: -1;
    opacity: 0.95;
}

h1 {
    color: #3c6c83;
    font-family: LibreBaskerville-Bold;
    letter-spacing: 0.15em;
    font-size: 1.55em;
    padding-bottom: 0.75vh;
    //text-shadow: -0px 0px 2px #1697c8;
}

nav > h1 {
    color: #1697c8;
    text-shadow: -0px 0px 3px #1697c8;
    font-size: 1.7em;
}

h2 {
    color: #3c6c83;
}

h3 {
    text-align: left;
    display: list-item;
    list-style-type: "∅ ";
    //list-style-type: "⊚ ";
    //list-style-type: "⋴ ";
    list-style-position: outside;
}

h4 {
    text-align: left;
    display: list-item;
    list-style-type: circle;
    //list-style-type: "⊚ ";
    //list-style-type: "⋴ ";
    list-style-position: outside;
}

h5 {
    text-align: left;
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
}

hr {
    border-top: 2px dashed #3c6c83;
    border-bottom: none;
}

p {
    font-size: 1em;
    text-align: justify;
}

a {
    text-decoration: none;
    color: #1b3b6f;
    cursor: url(img/cursor-click.gif), auto;
}

a:hover {
    text-decoration: none;
    color: #1b3b6f;
}

img {
    width: 40%;
    height: auto;
}

#logo {
    width: 60%;
    height: auto;
}

nav {
    grid-area: nav;
    overflow: hidden;
    border-radius: 3px;

    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;

    min-height: 700px;
    height: 83vh;
    width: 15vw;

    background-color: #04050d;
    box-shadow: rgba(22, 151, 200, 0.4) -5px 5px, rgba(22, 151, 200, 0.3) -10px 10px, rgba(22, 151, 200, 0.2) -15px 15px, rgba(22, 151, 200, 0.1) -20px 20px, rgba(22, 151, 200, 0.05) -25px 25px, rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

main {
    grid-area: main;
    overflow: auto;
    border-radius: 3px;

    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 4em;
    padding-right: 4em;

    min-height: 700px;
    height: 87vh;
    width: 40vw;

    background-color: #04050d;
    box-shadow: rgba(22, 151, 200, 0.4) -5px 5px, rgba(22, 151, 200, 0.3) -10px 10px, rgba(22, 151, 200, 0.2) -15px 15px, rgba(22, 151, 200, 0.1) -20px 20px, rgba(22, 151, 200, 0.05) -25px 25px, rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.gridcontainer {
  display: grid;
  grid-template-areas:
    'nav main main main'
    'nav main main main';
  grid-gap: 2vw;

  padding-left: 17vw;
  padding-right: 17vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.article-header {
    margin: 1em;
    //padding: 1em;
}

.article-header > hr {
    border-top: 4px dotted #3c6c83;
    border-bottom: none;
}
.quote {
    border-radius: 3px;
    background-color: #0d1d35;
    font-family: LibreBaskerville-Italic;
    text-align: justify;
    font-style: italic;
    padding: 1em;
    //box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.article-preview {
    background-color: #3c6c83;
    color: #0d1d35;
    border-radius: 3px;
    margin: 0.5em;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 1em;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.1px;
    text-align: center;
}

.article-preview:hover {
    background-color: #091220;
    color: #9eb3c2;
}

.article-preview:visited {
    background-color: #090210;
    color: #9eb3c2;
}

.article-preview > h3 {
    list-style-type: "";
    font-family: LibreFranklin;
    margin-bottom: 0.3em;
}

.article-preview > p {
    margin: 0px;
}

.nav-footer {
    display: inline-block;
    align-self: flex-end;
    color: red;
}

.nav-link {
    text-align: center;
}

.nav-link > a {
    letter-spacing: 0.25em;
    text-decoration: none;
    font-family: LibreFranklin;
    font-size: 1.2rem;
    color: #065a82;
}

.nav-link-active {
    text-align: center;
}

.nav-link > a:hover {
    color: #1c7293;
}

.nav-link > a:visited {
    color: #1c7293;
}

.nav-link-active > a {
    letter-spacing: 0.25em;
    text-decoration: none;
    font-family: LibreFranklin;
    font-size: 1.2rem;
    color: #1697c8;
}
.nav-link-active > a:hover {
    color: #166a92;
}


@media (min-width: 2000px){
    nav {
        width: 10vw;
    }
    main {
        width: 30vw;
    }
    .gridcontainer {
        padding-left: 25vw;
        padding-right: 25vw;
    }
}

@media (max-width: 1350px){
   nav {
       //min-width: 250px;
       min-width: 25vw;
   }
   main {
       //min-width: 450px;
       min-width: 50vw;
   }
   .gridcontainer {
       padding-left: 5vw;
       padding-right: 5vw;
       gap: 3vw;
   }
}

@media (max-width: 900px){
    nav {
        max-width: 100%;
        //min-width: none;
        max-height: 1vh;
        height: 1vh;
        padding: 1vw;
    }
    nav > h1 {
        font-size: 2em
    }
    nav > #logo {
        width: 20%;
    }
    main {
        overflow: visible;
        width: 66vw;
        min-width: none;
        height: none;
        max-height: none;
        padding: 5vw;
        //padding: 1vw;
        //min-height: auto;
    }
    .gridcontainer {
        grid-template-areas:
            'nav nav nav nav'
            'main main main main';
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 1vh;
        min-width: none;
    }
}

// Pandoc default template css
ol, ul {
    padding-left: 1.7em;
    margin-top: 1em;
}
li > ol, li > ul {
    margin-top: 0;
}
blockquote {
    margin: 1em 0 1em 1.7em;
    padding-left: 1em;
    border-left: 2px solid #e6e6e6;
    color: #606060;
}
code {
    font-family: SpaceMono, monospace;
    font-size: 85%;
    margin: 0;
    text-align: left;
}
pre {
    margin: 1em 0;
    overflow: auto;
    text-align: left;
}
pre code {
    padding: 0;
    overflow: visible;
    overflow-wrap: normal;
    text-align: left;
}
.sourceCode {
    background-color: red;
    text-align: left;
    overflow: visible;
    border-radius: 3px;
    background-color: #0d1d35;
    padding: 0.2em;
}
table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    display: block;
    font-variant-numeric: lining-nums tabular-nums;
}
table caption {
    margin-bottom: 0.75em;
}
tbody {
    margin-top: 0.5em;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
}
th {
    border-top: 1px solid #1a1a1a;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
td {
    padding: 0.125em 0.5em 0.25em 0.5em;
}
header {
    margin-bottom: 4em;
    text-align: center;
}
#TOC li {
    list-style: none;
}
#TOC a:not(:hover) {
    text-decoration: none;
}
code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
span.underline{text-decoration: underline;}
div.column{display: inline-block; vertical-align: top; width: 50%;}
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
ul.task-list{list-style: none;}
pre > code.sourceCode { white-space: pre; position: relative; }
pre > code.sourceCode > span { display: inline-block; line-height: 1.25; }
pre > code.sourceCode > span:empty { height: 1.2em; }
.sourceCode { overflow: visible; }
code.sourceCode > span { color: inherit; text-decoration: inherit; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
pre > code.sourceCode { white-space: pre-wrap; }
pre > code.sourceCode > span { text-indent: -5em; padding-left: 5em; }
}
pre.numberSource code
    { counter-reset: source-line 0; }
pre.numberSource code > span
    { position: relative; left: -4em; counter-increment: source-line; }
pre.numberSource code > span > a:first-child::before
    { content: counter(source-line);
    position: relative; left: -1em; text-align: right; vertical-align: baseline;
    border: none; display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    color: #aaaaaa;
    }
pre.numberSource { margin-left: 3em; border-left: 1px solid #aaaaaa;  padding-left: 4px; }
div.sourceCode
    {   }
@media screen {
pre > code.sourceCode > span > a:first-child::before { text-decoration: underline; }
}
code span.al { color: #ff0000; font-weight: bold; } /* Alert */
code span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { color: #7d9029; } /* Attribute */
code span.bn { color: #40a070; } /* BaseN */
code span.bu { } /* BuiltIn */
code span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code span.ch { color: #4070a0; } /* Char */
code span.cn { color: #880000; } /* Constant */
code span.co { color: #60a0b0; font-style: italic; } /* Comment */
code span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code span.do { color: #ba2121; font-style: italic; } /* Documentation */
code span.dt { color: #902000; } /* DataType */
code span.dv { color: #40a070; } /* DecVal */
code span.er { color: #ff0000; font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #40a070; } /* Float */
code span.fu { color: #06287e; } /* Function */
code span.im { } /* Import */
code span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: #007020; font-weight: bold; } /* Keyword */
code span.op { color: #666666; } /* Operator */
code span.ot { color: #007020; } /* Other */
code span.pp { color: #bc7a00; } /* Preprocessor */
code span.sc { color: #4070a0; } /* SpecialChar */
code span.ss { color: #bb6688; } /* SpecialString */
code span.st { color: #4070a0; } /* String */
code span.va { color: #19177c; } /* Variable */
code span.vs { color: #4070a0; } /* VerbatimString */
code span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
.display.math{display: block; text-align: center; margin: 0.5rem auto;}
