<h1 style="font-family: LibreFranklin;color: red">Kruciprdel! Co je sakra "<%= path %>"???</h1>
<h2>The link you licked is BROKEEE :(( *BIG SAD*</h2>
<a href="/">
    <img src="/img/sob_roll.gif" style="width: 70%">
</a>
<h2>UwU It would seem waik wee cwouln't fund what yUoU have ben loowking for!!!!!</h2>
Oh Gosh weee made a fuckey whokey. A little fucketyyy ducketyy. The page you are loooking fooooor is all messsssssy. We must have been doing some cleaning threw it out or smthn :flushed:
<p>Ah my god this is so embarassing..........</p>
<p>The princess must be in another castle or somthnnnnn</p>
<a href="/">
    <img src="/img/flushed_round.gif">
    <img src="/img/creepy_trollface.gif">
</a>
