<h2>O ÄŒangasovi</h2>
<hr>
<div style="margin: 1rem;">
<img src="/img/cute.png" style="width:30%; float: left; margin-right: 1rem">
</div>
<p> Kontakt: <a href="mailto:ondrej@ondrejzobal.xyz">ondrej@ondrejzobal.xyz</a><br></p>
<p>PGP: <code><a href="./key.gpg">76DA A072 012F F4CE 0A13 0702 <b>DDAA 08A8 C506 BF03</b></a></code></p>
<!--
     Q&A:
     Is this bad?
     - Yes.
     Is there a better way to do this?
     - I hope there is.
     Do you know what it is?
     - No.
     - God help us all ðŸ™.
-->
<p><abbr title="Please send me a couple of cents so I feel like crypto is real...">XMR</abbr>:<code style="overflow-wrap: break-word"> 8<wbr>9<wbr>G<wbr>m<wbr>H<wbr>Q<wbr>Y<wbr>m<wbr>4<wbr>f<wbr>F<wbr>Q<wbr>7<wbr>j<wbr>E<wbr>K<wbr>V<wbr>w<wbr>T<wbr>e<wbr>T<wbr>o<wbr>Y<wbr>4<wbr>q<wbr>R<wbr>e<wbr>q<wbr>f<wbr>J<wbr>c<wbr>w<wbr>D<wbr>L<wbr>H<wbr>5<wbr>x<wbr>2<wbr>Y<wbr>f<wbr>7<wbr>c<wbr>K<wbr>i<wbr>6<wbr>Y<wbr>a<wbr>h<wbr>g<wbr>A<wbr>b<wbr>V<wbr>f<wbr>s<wbr>A<wbr>D<wbr>9<wbr>7<wbr>Q<wbr>G<wbr>f<wbr>K<wbr>L<wbr>q<wbr>Q<wbr>B<wbr>d<wbr>L<wbr>J<wbr>d<wbr>i<wbr>r<wbr>q<wbr>C<wbr>t<wbr>S<wbr>B<wbr>g<wbr>S<wbr>X<wbr>J<wbr>o<wbr>f<wbr>2<wbr>m<wbr>L<wbr>d<wbr>N<wbr>6<wbr>Z<wbr>Y<wbr>y<wbr>T<wbr>C<wbr>c</code> </p>
<a style="padding-right: 5em;" href="https://github.com/OndrejZobal">GitHub</a>
<!-- <a href="https://git.ondrejzobal.xyz/">GitLab (private)</a> -->
</div>
