<h2>O Čangasovi</h2>
<hr>
<p> Kontakt: <a href="mailto:ondrej@ondrejzobal.xyz">ondrej@ondrejzobal.xyz</a><br></p>
<p>PGP: <code><a href="./key.gpg">76DA A072 012F F4CE 0A13 0702 <b>DDAA 08A8 C506 BF03</b></a></code></p>
<p><abbr title="free mone pls">XMR</abbr>: <code style="overflow-wrap: break-word">89GmHQYm4fFQ7jEKVwTeToY4qReqfJcwDLH5x2Yf7cKi6YahgAbVfsAD97QGfKLqQBdLJdirqCtSBgSXJof2mLdN6ZYyTCc</code> </p>
</div>
