<h3>Welcome to the admin panel, king</h3>
<p>This is the admin panel lol</p>
<p>Click <a href="/secretadmin/compose">here</a> to start writing a new article</p>
<p><a href="/secretadmin/articles">View articles</a></p>
