<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
    body {
	    background-color: blue;
	    text-align: center;
	    color: white;
    }
    h1 {
	    color:red;}

    </style>

    <title>Mrcrsoft A ntivirun</title>
</head>
<body>
	<h1>OFFICIAL MRCROSOFT ANTIVIRUS OF WINDSWOWS</h1>
	<h2>Personal computer virus report: VIRUS HIGHLY DETECTED</h2>
	<p>Automatic operating sistem search of virus on your system was just now completed...</p>
	<p>Resoult: <b>Infective trojan worm of large scale destruction</b></p>
	<br>
	<p>Your computer will be imidetetly destroyed in the 24 hrours!!!</p>
	<p>To disarm the malwar ples call the nummber of you're screen desplay bleow. Do not hestate. Your computer will be destroied otherwiese. And you hard drives broke and you're house burn down two!!!</p>

    <main>
        <% articles.forEach(function(article) {%>
        <a href="<%= article.urlidArticle %>">
        <div>
            <h2><%= article.titleArticle %></h2>
            <p><i><%= article.publicatoinDateArticle %></i></p>
            <p><%= article.abstractArticle %></p>
            <hr>
        </div>
        </a>
        <% }); articles %>
    </main>

    <hr>
	<h3>8-O0-81-35</h3>
</body>

</html>
